$bgOnas: #ffedbf;
$white: #ffffff;
$navbar: rgba(237, 135, 45, 0.95);
$Ahover: #FFCC11;
$navbarScroll: rgba(237, 135, 45, 0.40);
$text: #5b4e4b;
$bg: #FDEEDC;
$container: rgba(255,255,255,0.5);
$footerText: #98817b;
$black: #000000;
$Buttonhover: rgba(237, 135, 45, 0.70);
$log: red;

