#podmienky{
    background-color: $navbar;
    color: $white;
    padding: 30px 90px;
    font-size: 17px;
    p{
        color: $white;
        font-size: 14px;    
    }
}

#poriadok{
    background-color: $navbar;
    color: $white;
    padding: 30px 90px;
    font-size: 17px;
    p{
        color: $white;
        font-size: 14px;    
    }
}